<h1 class="is-size-2"> Хотел бы я знать, зачем я это делаю на Nest.js</h1>
<h3 class="is-size-3"> Я бы сделал это на Deno, но там 700 issues, а очень жаль</h3>

<h5 class="title is-size-4">Ссылки на полезные истории</h5>
<ul>
  <li>
    <a href="func.html" class="is-size-2"> Функции в JavaScript </a>
  </li>
  <li>
    <a href="obj.html" class="is-size-2"> Объекты в JavaScript </a>
  </li>
</ul>
