<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Curious Javascript </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<div class="columns is-centered">
  <div class="column is-half">
  {{message}}
    {{data}}
  </div>
</div>
</body>
</html>
